<!DOCTYPE html>  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Photography page. Including the benifits of meditation in this field">
    <meta name="keywords" content="photography, meditation, mindfullness, intuition, stillness, camera, pictures, images">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon-cam.png">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>Roibeard Ruadhan Photography</title>
</head> 
<body>
    <section>
            <!--Hero images to set the atmosphere before entering the home page-->
            <div class="hero-image">
                <!--Hero Logo used as an entry point to home page along with a button below-->
                <header id="hero-logo"><a href="home.html"><img src="assets/images/logo_small.Jpg" alt="Website logo"></a></header>
                    <a href="home.html" class="button">Welcome</a>
            </div>
    </section>
</body>
</html>

